<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PracticeController</servlet-name>
        <servlet-class>controller.PracticeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizController</servlet-name>
        <servlet-class>controller.QuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizHandleController</servlet-name>
        <servlet-class>controller.QuizHandleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimulationExamController</servlet-name>
        <servlet-class>controller.SimulationExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>controller.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectListController</servlet-name>
        <servlet-class>controller.SubjectListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseContentListController</servlet-name>
        <servlet-class>controller.CourseContentListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseContentDetailController</servlet-name>
        <servlet-class>controller.CourseContentDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimulationExamController</servlet-name>
        <url-pattern>/simulationExamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizHandleController</servlet-name>
        <url-pattern>/quizHandleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizController</servlet-name>
        <url-pattern>/quizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/homeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PracticeController</servlet-name>
        <url-pattern>/practiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/SubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseContentDetailController</servlet-name>
        <url-pattern>/courseContentDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectListController</servlet-name>
        <url-pattern>/subjectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseContentListController</servlet-name>
        <url-pattern>/courseContentList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homeController</welcome-file>
    </welcome-file-list>
</web-app>
